.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.login-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-pictures {
  display: flex;
  flex-direction: column;
  margin-right: 15rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.login-logo {
  margin-left: 2rem;
}

.login-pablo {
  padding-top: 7rem;
  padding-right: 5rem;
  margin-right: 3rem;
}
