.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.signup-content {
  display: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: rgb(55, 55, 125);
  }

  h4 {
    margin-left: 2rem;
    color: rgb(94, 94, 116);
  }

  input {
    width: 20rem;
    height: 2rem;
  }
}

.signup-password {
}
