.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.signup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: rgb(55, 55, 125);
  }

  h4 {
    margin-left: 0.8rem;
    color: rgb(109, 195, 217);
  }

  input {
    width: 20rem;
    height: 2rem;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    color: white;
    background-color: rgb(166, 233, 212);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
  }

  a {
    margin-left: 0.4rem;
  }
}

.signup-email {
  input {
    margin-top: 1rem;
  }
}

.signup-password {
  display: flex;
  flex-direction: row;

  input {
    margin-top: 1rem;
  }

  p {
    position: absolute;
    margin-left: 17rem;
    margin-top: 1.8rem;
    font-size: small;
    font-weight: 700;
    color: rgb(107, 194, 166);
    cursor: pointer;
  }
}

.signup-date {
  margin-top: 1rem;

  input {
    height: 2.3rem;
    width: 20.2rem;
  }
}

.signup-tel {
  margin-top: 1rem;
}

.signup-p {
  display: flex;
  flex-direction: column;
  margin-right: 13rem;

  p {
    color: rgb(19, 213, 152);
  }
}
