.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  img {
    width: 50%;
    height: 50%;
    margin-bottom: 4rem;
  }
}

.nav-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;

  input {
    width: 20rem;
    height: 2rem;
    // border-radius: 2%;
  }

  svg {
    position: absolute;
    width: 4rem;
    height: 2rem;
    margin-left: 16rem;
    background-color: rgb(120, 219, 184);
    // border-radius: 5%;
  }
}

.nav-others {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;

  a {
    margin-top: 1rem;
    margin-right: 2rem;
    text-decoration: underline;
  }

  p {
    margin-right: 3rem;
  }

  img {
    margin-right: 1rem;
  }

  h5 {
    margin-right: 1rem;
  }

  svg {
    margin-top: 1.5rem;
    margin-right: 3rem;
  }
}
