.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  img {
    width: 50%;
    height: 50%;
    margin-bottom: 5rem;
  }
}

.nav-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;

  input {
    width: 20rem;
    height: 2rem;
    // border-radius: 2%;
  }

  svg {
    position: absolute;
    width: 4rem;
    height: 2rem;
    margin-left: 16rem;
    background-color: rgb(120, 219, 184);
    // border-radius: 5%;
  }
}

.nav-links {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;

  button {
    width: 5rem;
    height: 2rem;
    margin: 1rem;
    background-color: rgb(166, 233, 212);
    border-color: transparent;
    cursor: pointer;

    a {
      text-decoration: none;
      font-size: large;
      color: rgb(14, 10, 10);
    }
  }
}
